
.page-header-login {
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin-right: 275px;

        li {
            padding: 10px;
            border: 1px solid transparent;
            transition: 0.4s;
            cursor: pointer;
            color: #3d3d3d;
            &:hover {
                border: 1px solid #707070;
            }
        }

        
    }
}

.page-header-menu {
    ul {
        display: flex;
        list-style: none;
        justify-content: flex-end;
        margin-right: 275px;
        font-size: 1.5em;

        li {
            padding: 10px;
            border: 1px solid transparent;
            transition: 0.4s;
            color: #3d3d3d;
            cursor: pointer;
            &:hover {
                border: 1px solid #707070;
            }
        }

        
    }
}
