.page-stats-card {
    width: 370px;
    margin-top: 76px;
    margin-bottom: 92px;
}

.card-number {
    font-size: 70px;
    font-weight: 200;
}

.card-title {
    margin-top: 40px;
    margin-bottom: 35px;
    text-transform: uppercase;
}